.pb-45 {
    padding-bottom: 45px;
}

.mr-40 {
    margin-right: 40px;
}
.ml-40 {
    margin-left: 40px;
}
.mb-80 {
    margin-bottom: 80px;
}
.section-title h6 {
    color: #57b33e;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 800;
    border-bottom: 2px solid #57b33e;
    display: inline-block;
    padding-bottom: 5px;
}
.mb-25 {
    margin-bottom: 25px;
}
.section-title h2 {
    color: #232323;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
}
.pb-40 {
    padding-bottom: 40px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}

.semi-title {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 800;
}

.h2-counter-box p {
    margin-bottom: 13px;
}
p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Mulish", sans-serif;
    color: #616161;
    /* margin-bottom: 0; */
}

h2 {
    font-size: 35px;
}
h2, h3, h4, h5, h6 {
    font-family: "Mulish", sans-serif;
    color: #232323;
    line-height: 1.1;
    margin-top: 0px;
    font-style: normal;
    font-weight: 800;
    /* text-transform: normal; */
}

.h2-counter-box h2 span {
    font-size: 65px;
    line-height: 1;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    color: #57b33e;
}

.pos-rel {
    position: relative;
}
/* 
.service__img__one::before {
    content: "";
    background-color: #ff7029;
    position: absolute;
    left: 9px;
    top: -15px;
    width: 130px;
    height: 130px;
    z-index: -1;
} */
.service__img__two {
    position: relative;
    z-index: 3;
}

/* .mb-30 {
    margin-bottom: 30px;
} */
.service__img__three .round-icon {
    right: 10px;
    z-index: -1;
    top: -55px;
    animation:  round-icon-zoomIn infinite 50s alternate;

}