@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}
header{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 5;
}
.bg-dark {
    
    background:  0 0!important;;
    padding: 8px 16px;
  
}

.navbar-brand .logo a:hover{
    color: green;
}
@media (max-width: 1199.98px){
header .navbar {
    background: #000!important; 
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: -30px;}
}
.nav-link{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ff7029;
    font-weight: bolder;
}

.navbar-collapse.in {
    display: block !important;
}
